*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
}
img{
    width: auto;
    vertical-align: middle;
}
.container{
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}
.btn{
    color: #252525;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    background: rgba(37, 37, 37, 0.20);
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    transition: 0.5s;
}
.btn::after{ 
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    background: #FF1F3D;
    border-radius: 4px;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: -1;
    opacity: 0;
}
.btn:hover{
    color: #fff;
}
.btn:hover::after{
    width: 100%;
    height: 100%;
    opacity: 1;
}
.btn.active{
    color: #fff;
    background: #FF1F3D;
}
.card{}
.card .card-img {
    width: 100%;
    overflow: hidden;
    border-radius: 8px;
}
.card .card-img img{
    width: 100%;
    height: 200px; 
    object-fit: cover;
}
.card .card-body {
    padding-top: 24px;
    display: flex;
    gap: 12px;
}
.card .card-body .profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.card .card-body .profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .card-body .card-details h2 {
    color: #171717;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
.card .card-body .card-details p{
    color: rgba(23, 23, 23, 0.70);
    font-size: 14px;
    font-weight: 400;
}
.sorry{
    color: #171717;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
}
.blog-container {
    width: 100%;
    padding: 30px 20px;
}
.single-blog {
    background: #fafafa;
    border-radius: 8px;
    padding: 10px;
}
.single-blog h1 {
    font-size: 45px;
    font-weight: 700;
}
.time {
    background: #1717179d; 
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 8px;
    overflow: hidden;
}